.draggable
  .draggable__container
    .draggable__item Nie przeciągniesz mnie
    .draggable__item.-red Przeciągnij mnie w poziomie
    .draggable__item.-blue Przeciągnij mnie w pionie
    .draggable__item.-yellow Przeciągnij mnie gdzie chcesz
