.droppable
  .droppable__container
    .droppable__title Umieść figury w odpowiednie miejsca
    .droppable__item.-circle 
    .droppable__item.-square 
    .droppable__item.-dropCircle Miejsce na koło
    .droppable__item.-dropSquare Miejsce na kwadrat