.sortable 
  .sortable__container 
    .sortable__box.-first Ułóż po koleji
      .sortable__item(id="id-5") Item 6
      .sortable__item(id="id-0") Item 1
      .sortable__item(id="id-2") Item 3
      .sortable__item(id="id-7") Item 8
      .sortable__item(id="id-1") Item 2
      .sortable__item(id="id-4") Item 5
      .sortable__item(id="id-3") Item 4
      .sortable__item(id="id-6") Item 7
      
    .sortable__box.-second
      .sortable__item Item 1
      .sortable__item Item 2
      .sortable__item Item 3
      .sortable__item Item 4
      .sortable__item Item 5
      .sortable__item Item 6
      .sortable__item Item 7
      .sortable__item Item 8
    .sortable__box.-third
      .sortable__item Item 1
      .sortable__item Item 2
      .sortable__item Item 3
      .sortable__item Item 4
      .sortable__item Item 5
      .sortable__item Item 6
      .sortable__item Item 7
      .sortable__item Item 8



